<!DOCTYPE html>
<html>
<head>
    <title>Eric Chi wai Tsoi Portfolio</title>
    <link rel="stylesheet" type="text/css" href="http://basehold.it/12">
    <link rel="stylesheet" type="text/css" href="<%= reset %>">
    <link rel="stylesheet" type="text/css" href="<%= normalize %>">
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <link rel="stylesheet" type="text/css" href="<%= baseline %>">
    <!-- <link rel="stylesheer" type="text/css" href="<%= amend %>"> -->
</head>
<body>
  <main>
    <h1>A very big Title</h1>
    <h2>Some description Title</h2>
    <h3>Some description Title</h3>
    <h4>Hello World</h4>
    <h5>Hello World</h5>
    <h6>Hello World</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, cupiditate vel eaque quos commodi sint iste maxime dignissimos eum vero!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, odio, non, hic, saepe eius nam inventore sequi provident ipsum libero unde dicta natus voluptas id doloribus laborum itaque quaerat ipsam quos vitae. Itaque, natus, praesentium! Maiores, autem officiis quisquam enim culpa obcaecati deserunt mollitia saepe. Eius, cum consequuntur nobis explicabo.</p>
    <div class="clear"></div>
  </main>
</body>
</html>